.DS_Store
p_1/.DS_Store
p_1/p_1_1/.DS_Store
p_1/p_1_1/*.pdf
p_1/p_1_1/*.pages
p_1/p_1_2/.DS_Store
p_1/p_1_2/*.pdf
p_1/p_1_2/*.pages
p_2/.DS_Store
p_2/p_2_1/.DS_Store
p_2/p_2_1/*.pdf
p_2/p_2_1/*.pages
p_2/p_2_2/.DS_Store
p_2/p_2_2/*.pdf
p_2/p_2_2/*.pages
p_2/p_2_3/.DS_Store
p_2/p_2_3/*.pdf
p_2/p_2_3/*.pages
p_3/.DS_Store
p_3/p_3_1/.DS_Store
p_3/p_3_1/*.pdf
p_3/p_3_1/*.pages
p_3/p_3_2/.DS_Store
p_3/p_3_2/*.pdf
p_3/p_3_2/*.pages
p_3/p_3_3/.DS_Store
p_3/p_3_3/*.pdf
p_3/p_3_3/*.pages
p_3/p_3_3/car_with_preprocessor/.DS_Store
p_3/p_3_3/car_with_preprocessor/*.pdf
p_3/p_3_3/car_with_preprocessor/*.pages
p_3/p_3_3/train_with_preprocessor/.DS_Store
p_3/p_3_3/train_with_preprocessor/*.pdf
p_3/p_3_3/train_with_preprocessor/*.pages
p_4/.DS_Store
p_4/p_4_1/.DS_Store
p_4/p_4_1/*.pdf
p_4/p_4_1/*.pages
p_4/p_4_2/.DS_Store
p_4/p_4_2/*.pdf
p_4/p_4_2/*.pages

